<nav class="navbar">
  <img src="https://cdn.pixabay.com/photo/2014/04/03/00/41/race-car-309123_960_720.png" alt="W3Schools.com">
  <ng-container *ngIf="isLogged">
    <a routerLink="/szukaj" title="Wyszukiwarka przejazdów" [ngClass]="{'active-tab': checkURL('szukaj')}"><i
      class="fa fa-car"></i></a>
    <a routerLink="/nowy-przejazd" title="Dodaj przejazd" [ngClass]="{'active-tab': checkURL('nowy-przejazd')}">JEDNEJ
      IKONKI
      BRAKUJE</a>
    <a routerLink="/profil" title="Profil" [ngClass]="{'active-tab': checkURL('profil')}"><i
      class="fa fa-users"></i></a>
    <a routerLink="/oceny" title="Oceny użytkowników" [ngClass]="{'active-tab': checkURL('oceny')}"><i
      class="fa fa-user"></i></a>
    <a title="Wyloguj się" *ngIf="isLogged" (click)="logout()">
      <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google">
      Logout
    </a>
  </ng-container>
  <a title="Zaloguj się" *ngIf="!isLogged" (click)="login()">
    <i class="fa fa-google"></i>
  </a>
</nav>
