<div class="user-cards-container">
  <div class="user-card">
    <div id="details">
      <img
        src="https://st3.depositphotos.com/9998432/13335/v/600/depositphotos_133352010-stock-illustration-default-placeholder-man-and-woman.jpg"
        alt="image placeholder">
      <h3>Jan Kowalski</h3>
      <i class="fa fa-check"></i>
    </div>
    <div id="info">
      <div>
        <p>Data</p>
        <span>10.10.2022</span>
      </div>
      <div>
        <p>Trasa</p>
        <span>Kraków -> Warszawa</span>
      </div>
      <div>
        <p>Cena</p>
        <span>40zł</span>
      </div>
    </div>
  </div>
</div>
